# 6 - Préparation démo

In [6]:
import pandas as pd
from tensorflow import keras

In [7]:
mit_test = pd.read_csv("../data/mitbih_test.csv", header=None)
X_test = mit_test.iloc[:,:-1]
y_test = mit_test.iloc[:,-1]

In [4]:
model = keras.models.load_model("../models/CNN_1")

In [10]:
pred = model.predict(X_test).argmax(1)

In [14]:
pred = pd.Series(pred)

In [17]:
y_test = y_test.astype(int)
y_test

0        0
1        0
2        0
3        0
4        0
        ..
21887    4
21888    4
21889    4
21890    4
21891    4
Name: 187, Length: 21892, dtype: int32

In [18]:
pred

0        0
1        0
2        0
3        0
4        0
        ..
21887    4
21888    4
21889    4
21890    4
21891    4
Length: 21892, dtype: int64

In [22]:
df = pd.concat([y_test, pred], axis=1)
df.columns = ["reel", "predict"]
df

       reel  predict
0         0        0
1         0        0
2         0        0
3         0        0
4         0        0
...     ...      ...
21887     4        4
21888     4        4
21889     4        4
21890     4        4
21891     4        4

[21892 rows x 2 columns]

In [24]:
df[df["reel"] != df["predict"]]

       reel  predict
30        0        1
58        0        1
100       0        1
106       0        1
252       0        4
...     ...      ...
21815     4        0
21820     4        2
21826     4        0
21832     4        0
21835     4        2

[835 rows x 2 columns]