# 6 - Préparation démo

In [1]:
import pandas as pd
from tensorflow import keras

In [2]:
mit_test = pd.read_csv("../data/mitbih_test.csv", header=None)
X_test = mit_test.iloc[:,:-1]
y_test = mit_test.iloc[:,-1]

In [3]:
model = keras.models.load_model("../models/CNN_1.h5")

In [4]:
pred = model.predict(X_test).argmax(1)

In [5]:
pred = pd.Series(pred)

In [6]:
y_test = y_test.astype(int)
y_test

0        0
1        0
2        0
3        0
4        0
        ..
21887    4
21888    4
21889    4
21890    4
21891    4
Name: 187, Length: 21892, dtype: int32

In [7]:
pred

0        0
1        0
2        0
3        0
4        0
        ..
21887    4
21888    4
21889    4
21890    4
21891    4
Length: 21892, dtype: int64

In [8]:
df = pd.concat([y_test, pred], axis=1)
df.columns = ["reel", "predict"]
df

       reel  predict
0         0        0
1         0        0
2         0        0
3         0        0
4         0        0
...     ...      ...
21887     4        4
21888     4        4
21889     4        4
21890     4        4
21891     4        4

[21892 rows x 2 columns]

In [24]:
df[df["reel"] == df["predict"]][df["reel"] == 4]

C:\Users\saman\AppData\Local\Temp\ipykernel_21220\1958550070.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[df["reel"] == df["predict"]][df["reel"] == 4]

       reel  predict
20284     4        4
20286     4        4
20287     4        4
20288     4        4
20289     4        4
...     ...      ...
21887     4        4
21888     4        4
21889     4        4
21890     4        4
21891     4        4

[1528 rows x 2 columns]

In [ ]:
df[df["reel"]==2]